[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev="flask run"
test = "pytest ."
coverage = "pytest --cov-report term-missing --cov=."

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
flask-cors = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
